# Files
/CMakeCache.txt
/CTestTestfile.cmake
/Makefile
/cmake_install.cmake
/src/CTestTestfile.cmake
/src/Makefile
/src/cmake_install.cmake
/src/libminimal_cmake_cpp_lib_sample.a
/src/libminimal_cmake_cpp_lib_sample.so
/tests/CTestTestfile.cmake
/tests/Makefile
/tests/cmake_install.cmake
/tests/minimal_cmake_cpp_lib_sample_test

# Folders
/CMakeFiles/
/Testing/
/src/CMakeFiles/
/tests/CMakeFiles/
